:root{
   --vermelho: #E50914;
   --preto: #141414;
   }

*{ /*Reset css - eliminar formatações prévias nos navegadores*/
   margin: 0;
   padding: 0;
   box-sizing: border-box; /* para deixar os elementos dentro da box content*/
}

/*Elementos base*/
body{
   background: var(--preto);
   font-family: 'Arial', Times, serif;
   color: white;
}

header .container{
   /*border: 1px solid white;*/
   display: flex;
   flex-direction: row; /* o padrão */
   align-items: center;
   justify-content: space-between;
}

header .logo{
   margin-left: 5px;
   color: var(--vermelho);
   font-family: "Arial Black";
   font-size: 40px;
}

header nav a{
   text-decoration: none;
   color: #AAA;
   margin-right: 10px;
}

header nav a:hover{
   color: #fff;

}

/*Elementos do filme principal*/
.filme-principal{
   font-size: 18px;
   background-image: url('../img/capa-filme5.png'); 
   /*background: linear-gradient(rgba(0,0,0,0.50), rgba(0,0,0,0.50)100%), url('../img/capa-filme4.jpg');*/ 
   /*Com o linear-grandiente melhor a tonalidade de cores da imagem ajudando a visualização das letras (branco)*/
   height: 800px;
   background-size: cover;
   display: flex; /*Por padrão deixa os elementos em linha*/
   flex-direction: column; /*flex-direction deixa o elemento na mesma linha (row), trocamos para coluna (columm)*/
   justify-content: center;
   align-items: flex-start;
}

.filme-principal .descricao{
   margin-top: 10px;
   margin-bottom: 40px;
}

.filme-principal .titulo {
   margin-top: 15%;
   font-size: 40px;
   font-family: 'Trebuchet MS', Arial, sans-serif;
}

.botao{
   background-color: rgba(0,0,0, 0.50);
   border:  none;
   color: white;
   padding: 15px 30px;
   margin-right: 15px;
   font-size: 12px;
   cursor: pointer;
   transition: .3s ease all;
}

.botao:hover{
   background-color: white;
   color: black;
}

.botao i{
   margin-right: 8px;
}

.container{
   margin-left: 20px;
}

.filme-principal .container{
   width: 70%;
}

.box-filme{
   height: 100%;
   width: 100%;
   display: block;
   cursor: pointer;
}

.carrosel-filmes{
   margin-top: 5px;
}

.carrosel-filmes{
   margin-top: 5px;
}